/* Navbar Styling */
.navbar {
    background-color: #21212156; /* Warna background navbar */
}

.custom-navbar-container {
    margin-left: 100px;
    margin-right: 0px;
}

.navbar-brand {
    font-size: 14px;
    font-weight: bold;
}

.navbar-nav .nav-link {
    font-size: 16px;
    margin-right: 20px;
}

.navbar-nav .nav-link:hover {
    color: #ffffff;
}

.dropdown-menu {
    background-color: #343a40; /* Warna background dropdown menu */
    border: none; /* Menghilangkan border pada dropdown */
}

.dropdown-menu .dropdown-item {
    color: #ffffff; /* Warna teks pada dropdown item */
}

.dropdown-menu .dropdown-item:hover {
    background-color: #007bff; /* Warna background saat hover pada dropdown item */
    color: #ffffff; /* Warna teks saat hover pada dropdown item */
}

/* Hero Image Styling */
.hero-image img {
    width: 100%;
    height: auto;
    display: block;
}

/* Pengaturan Umum */
.combined-section, .vision-mission-tagline {
    margin: 0 100px;
    padding: 50px 0;
    background-color: #ffffff; /* Warna background */
}

p {
    text-align: justify;
    font-size: 16px; /* Ukuran font untuk paragraf */
}

h3 {
    font-size: 24px; /* Ukuran font untuk judul */
    margin-bottom: 20px;
}

/* Pengaturan Animasi */
.scroll-animation {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.scroll-animation.visible {
    opacity: 1;
    transform: translateY(0);
}


#timeline-carousel {
    margin: 0 100px;
    padding: 50px 0;
}

.timeline-year {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

.timeline-story {
    background-color: #f8f9fa;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, opacity 0.3s;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.6s forwards;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.footer {
    padding: 40px 0;
    background: url('images/world_pattern.svg') no-repeat center center;
    background-size: cover;
    color: #fff;
}

.footer-column h4 {
    margin-bottom: 20px;
    font-weight: bold;
}

.footer-column p, .footer-column ul {
    margin-bottom: 20px;
}

.footer-column ul {
    list-style-type: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    color: #ddd;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.footer-column ul li a img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.footer-column ul li a:hover {
    text-decoration: underline;
}

@media (min-width: 768px) {
    .footer {
        padding: 40px 100px;
    }
}

@media (max-width: 767px) {
    .footer {
        padding: 40px 15px;
    }
}

.our-clients {
    background-color: #fff;
    position: relative;
    margin-left: 200px;
    margin-right: 200px;
}

.underline1 {
    width: 640px;
    height: 3px;
    background-color: #000;
    margin: 0 auto;
}

.purple-box-left,
.purple-box-right {
    position: absolute;
    top: 0;
    width: 100px;
    height: 100px;
    background-color: #576496; /* Warna ungu */
}

.purple-box-left {
    left: -200px; /* Menempatkan kotak di luar container */
}

.purple-box-right {
    right: -200px; /* Menempatkan kotak di luar container */
}

.client-logos img {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    width: 130px; /* Ukuran logo lebih kecil */
    transition: transform 0.3s ease;
}

.client-logos img:hover {
    transform: scale(1.1);
}

#extra-logos .col-md-2 {
    animation: fadeInUp 0.5s ease forwards;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.jud {
    padding: 20px;
    background-color: #fff;
    text-align: center;
    margin: 100px auto; /* Menambahkan margin kanan dan kiri */
    font-size: 22px;
}

.cults {
    padding: 20px;
    background-color: #fff;
    margin: 100px auto; /* Menambahkan margin kanan dan kiri */
}

.cult {
    padding: 20px;
    border-radius: 15px; /* Membuat sudut kotak lebih melengkung */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Menambahkan efek bayangan */
    background-color: #f8f8f8; /* Warna latar belakang kotak */
    text-align: center;
    transition: transform 0.2s ease; /* Efek transisi saat hover */
    margin-bottom: 20px; /* Jarak bawah antar kotak */
}

.cult:hover {
    transform: scale(1.05); /* Efek membesar saat hover */
}

.cult h3 {
    font-size: 16px; /* Ukuran font judul */
    margin-bottom: 15px;
    font-weight: bold; /* Membuat teks judul tebal */
}

.cult p {
    font-size: 14px; /* Ukuran font deskripsi */
    color: #555; /* Warna teks deskripsi */
    text-align: center;
}

.cult img {
    max-width: 100px; /* Mengatur ukuran maksimal gambar */
    height: auto;
    margin-bottom: 15px; /* Menambahkan jarak antara gambar dan teks */
}
